<div>
  <h2 id="page-heading" data-cy="PersonnesHeading">
    <span jhiTranslate="g3MasterApp.personnes.home.title">Personnes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="g3MasterApp.personnes.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-personnes"
        [routerLink]="['/personnes/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="g3MasterApp.personnes.home.createLabel"> Create a new Personnes </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="personnes?.length === 0">
    <span jhiTranslate="g3MasterApp.personnes.home.notFound">No personnes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="personnes && personnes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="g3MasterApp.personnes.nom">Nom</span></th>
          <th scope="col"><span jhiTranslate="g3MasterApp.personnes.prenom">Prenom</span></th>
          <th scope="col"><span jhiTranslate="g3MasterApp.personnes.telephone">Telephone</span></th>
          <th scope="col"><span jhiTranslate="g3MasterApp.personnes.email">Email</span></th>
          <th scope="col"><span jhiTranslate="g3MasterApp.personnes.nationnalite">Nationnalite</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let personnes of personnes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/personnes', personnes.id, 'view']">{{ personnes.id }}</a>
          </td>
          <td>{{ personnes.nom }}</td>
          <td>{{ personnes.prenom }}</td>
          <td>{{ personnes.telephone }}</td>
          <td>{{ personnes.email }}</td>
          <td>{{ personnes.nationnalite }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/personnes', personnes.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/personnes', personnes.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(personnes)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
