<div>
  <h2 id="page-heading" data-cy="CandidatsHeading">
    <span jhiTranslate="g3MasterApp.candidats.home.title">Candidats</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="g3MasterApp.candidats.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-candidats"
        [routerLink]="['/candidats/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="g3MasterApp.candidats.home.createLabel"> Create a new Candidats </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="candidats?.length === 0">
    <span jhiTranslate="g3MasterApp.candidats.home.notFound">No candidats found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="candidats && candidats.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="identifiant">
            <span jhiTranslate="g3MasterApp.candidats.identifiant">Identifiant</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="etat"><span jhiTranslate="g3MasterApp.candidats.etat">Etat</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="est.id"><span jhiTranslate="g3MasterApp.candidats.est">Est</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let candidats of candidats; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/candidats', candidats.id, 'view']">{{ candidats.id }}</a>
          </td>
          <td>{{ candidats.identifiant }}</td>
          <td jhiTranslate="{{ 'g3MasterApp.Statut.' + candidats.etat }}">{{ candidats.etat }}</td>
          <td>
            <div *ngIf="candidats.est">
              <a [routerLink]="['/personnes', candidats.est?.id, 'view']">{{ candidats.est?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/candidats', candidats.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/candidats', candidats.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(candidats)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
