<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="concours">
      <h2 data-cy="concoursDetailsHeading"><span jhiTranslate="g3MasterApp.concours.detail.title">Concours</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ concours.id }}</span>
        </dd>
        <dt><span jhiTranslate="g3MasterApp.concours.code">Code</span></dt>
        <dd>
          <span>{{ concours.code }}</span>
        </dd>
        <dt><span jhiTranslate="g3MasterApp.concours.libelle">Libelle</span></dt>
        <dd>
          <span>{{ concours.libelle }}</span>
        </dd>
        <dt><span jhiTranslate="g3MasterApp.concours.dtOuverture">Dt Ouverture</span></dt>
        <dd>
          <span>{{ concours.dtOuverture | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="g3MasterApp.concours.dtCloture">Dt Cloture</span></dt>
        <dd>
          <span>{{ concours.dtCloture | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="g3MasterApp.concours.candidats">Candidats</span></dt>
        <dd>
          <span *ngFor="let candidats of concours.candidats; let last = last">
            <a [routerLink]="['/candidats', candidats?.id, 'view']">{{ candidats.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/concours', concours.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
